 <header ></header>
  <main>
 <div class="row" style="margin-top:30px;">
            <div class="col m12 l12">
                <div class="col m3 l3"> </div>
                <div class="col s12 m11 l6">
                   <router-outlet></router-outlet>
                    <div class="row card" id="wel" style="display:none; margin-top:50px;">
                        <div class="row">
                            <h4 class="center red-text" style="font-family:MyriadPro Cond;">
                                Welcome to  <br>
                                <img url="/images/logo.png" width="400" height="46" class="responsive-img" alt="artfreaks">
                            </h4>
                        </div>
                        <div class="row">
                            <div clas="col s12 m12 l12">
                                <div class="col s3 m3 l3"> </div>
                                <div class="col s6 m6 l6">
                                    <div class="file-field input-field">
                                        <div class="btn waves-effect waves-light white black-text" style="border-bottom:1px solid #ccc; border-top:1px solid #CCC;">
                                            <span><a href="index.html" class="black-text" style="font-size:14px;"> + Browse Collection</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3 l3"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div clas="col s12 m12 l12">
                                <div class="col s3 m3 l3"> </div>
                                <div class="col s6 m6 l6">
                                    <div class="file-field input-field">
                                        <div class="btn waves-effect white black-text" style="border-bottom:1px solid #ccc; border-top:1px solid #CCC;">
                                            <span style="font-size:14px;">+ Upload Artwork</span>
                                            <input type="file" multiple="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3 l3"> </div>
                            </div>
                        </div>
                    </div>  <!--/wel ends-->
                </div>
                <div class="col m3 l3"> </div>
            </div>
        </div> 
  </main>
  <footer class="page-footer grey darken-1"></footer>